#ust{
    
    color: rgb(255, 8, 0);
    height: 15% ;
    text-align: center;

}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
text-decoration: none;
}
li{
    list-style: none;
    margin-left: 7%; 
    margin-right: 1%; 
}
.baslik{
    
    text-align: right;
    background-color: tomato;
    color: rgb(255, 0, 0);
}
.baku1{
    width: 45%;
    height: 40%;
    margin-left: 25%;
    transform: 50%;
}

.slider{
    width: 50%;
    height: 50%;
    margin-left: 25%;
}
form{
    margin-left: 25%;
    margin-right: 25%;
    background-image: url(photos/cm-arka.jpg);
    text-align: center;
    color: rgb(6, 110, 105);
    font-size: 150%;
    padding: 3%;
}

footer{
    background-color:rgba(10, 163, 209, 0.603);
}
body{
    background-image: url(photos/arka-plan2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.anakisim {
    height: 100%;
}
.bakim {
    margin-left: 25%;
    width: 45%;
    align-content: center;
    color: rgb(100, 247, 43);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#memleketimlogo{
    
    width:100px;
    height: 100px;
}
#linkler{
    text-align: left;    
}
#memleketimflag{
    width: 120px;
    height: 100px;
}

#footerkismi{
    font-size: 60px;
    text-align: center;
    color: rgba(179, 7, 30, 0.678);
}
.insta-logo{
    width: 45px;
    height: 45px;
    text-align: left;
    margin-right:8%;
    margin-left:8%
}
